<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('bundles/crworks/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/crworks/css/main.css') }}" rel="stylesheet" />
    </head>
    <body>
        <navigation>
            {% block menu %}
                <div>
                    <ul id="menu" class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#">About Me</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Customize Experience</a></li>
                        <li><a href="#">Comments</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-default btn-sm" data-toggle="collapse" data-target="#menu">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
            {% endblock %}
        </navigation>
        
        <div id="content">
            {% block body %}{% endblock %}
        </div>
    
        <script src="{{ asset('bundles/crworks/scripts/jquery.js') }}"></script>
        <script src="{{ asset('bundles/crworks/scripts/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
